<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="organization" class="com.owary.domain.Organization"
		destroy-method="destroy" init-method="init">
		<constructor-arg index="0" value="BMW"></constructor-arg>
		<constructor-arg index="1" value="1929"></constructor-arg>
		<property name="employeeCount" value="191998"></property>
		<property name="postalCode" value="1998"></property>
		<property name="slogan" value="I love and live"></property>
		<property name="businessServices" ref="ecommerceServices"></property>
	</bean>
	<bean id="cloudServices"
		class="com.owary.implementers.CloudServices">
	</bean>
	<bean id="ecommerceServices"
		class="com.owary.implementers.EcommerceServices">
	</bean>
	<bean id="industrialProduct"
		class="com.owary.domain.products.IndustrialProduct">
	</bean>
	<bean id="consumerProduct"
		class="com.owary.domain.products.ConsumerProduct">
	</bean>
	<bean id="tradeFair" class="com.owary.domain.promotion.TradeFair"></bean>
	<context:annotation-config></context:annotation-config>
</beans>
